<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Notificação</title>
    <style>
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background-color: #f5f5dc;
            color: #333;
            margin: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        form {
            background-color: #ffffff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
            max-width: 500px;
            width: 100%;
            margin-top: 40px;
        }
        .form-title {
            color: #006400;
            text-align: center;
            margin-bottom: 20px;
            font-size: 2rem;
            font-weight: bold;
            text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
        }
        label {
            display: block;
            margin-bottom: 10px;
            font-weight: bold;
            color: #333;
            font-size: 1.1rem;
        }
        input {
            width: calc(100% - 20px);
            padding: 10px;
            margin-bottom: 20px;
            border: 1px solid #ddd;
            border-radius: 4px;
            font-size: 1rem;
            box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1);
        }
        button {
            background-color: #006400;
            color: #ffffff;
            border: none;
            padding: 12px 20px;
            border-radius: 4px;
            font-size: 1.2rem;
            cursor: pointer;
            width: 100%;
            transition: background-color 0.3s ease;
        }
        button:hover {
            background-color: #004d00;
        }
    </style>
</head>
<body>
    <form action="/notify" method="post">
        <div class="form-title">Cadastro de Notificação</div>
        <label for="email">E-mail:</label>
        <input type="email" id="email" name="email" required>

        <label for="eventDate">Data para Notificação:</label>
        <input type="date" id="eventDate" name="eventDate" required>

        <button type="submit">Enviar Notificação</button>
    </form>
</body>
</html>
